<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather</title>
</head>
<body>
<div>
    <h1>Welcome to the amazing Weather App!</h1>
    <img src="uni.gif"/>
    <form th:action="@{/getWeather}" method="post" th:object="${weatherRequest}">
        <label>Enter your postal code:</label>
        <input id="zipCode" name="zipCode" th:field="*{zipCode}"/>
        <select th:field="*{country}">
            <option th:value="'de'" th:text="'Germany'"></option>
            <option th:value="'at'" th:text="'Austria'"></option>
        </select>
        <button  type="submit">Check weather</button>
    </form>

    <label th:text="${errorMessage}"></label>

    <form th:if="${weatherResponse != null}">
        <p>Weather conditions in <label th:text="${weatherResponse.cityName} + ':'"></label></p>
        <div >
            <p>Temperature: <label th:text="${weatherResponse.mainWeatherData.temperature} + ' °C'"></label></p>
            <p>Feels like: <label th:text="${weatherResponse.mainWeatherData.temperatureFeels} + ' °C'"></label></p>
            <p>Humidity: <label th:text="${weatherResponse.mainWeatherData.humidity} + ' %'"></label></p>
        </div>
    </form>

</div>
</body>
</html>




